{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    '',
] %}

<div{{ attributes.addClass(classes) }} style="border-radius: 2px; text-align: right; background-color: rgba(118,118,118, .6)">
  <div class="single-footer-widget footer_1">
    <a href="index.html" style="padding: 0 !important;">
      <img src="img/team_work.svg" alt="">
    </a>
    <p>Can not find your solution?</p>
    <p>We can provide <a href="index.html" style="padding: 0 !important; color: #eeeeee!important; font-size: 10px!important; text-transform: uppercase; text-decoration: underline;">customized services</a></p>
  </div>
</div>
