{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'copyright_part_text text-center',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-lg-12">
      {{ content.value|raw }}
    </div>
  </div>
</div>
