{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'footer_1',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="site-brand footer-brand mb-5">
    {% if content.site_logo %}
      <a href="{{ path('<front>') }}" rel="home" class="site-logo" title="{{ content.site_name }} - {{ content.site_slogan }}">
        {{ content.site_logo }}
      </a>
    {% endif %}
    {% if content.site_name %}
      <div class="site-name">
        <a href="{{ path('<front>') }}" rel="home" title="{{ content.site_name }} - {{ content.site_slogan }}">{{ content.site_name }}</a>
      </div>
    {% endif %}
    {% if content.site_slogan %}
      <div class="site-slogan">{{ content.site_slogan }}</div>
    {% endif %}
  </div>
  {% if content.text %}
    <p>{{ content.text }}</p>
  {% endif %}
</div>
