{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'footer_3',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="footer_img">
    {% for item in content %}
    <div class="single_footer_img">
      <img src="{{ item.image }}" alt="{{ item.label }}" title="{{ item.label }}">
      <a href="{{ item.url }}" title="{{ item.label }}"><i class="ti-instagram"></i></a>
    </div>
    {% endfor %}
  </div>
</div>
