{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'footer_2',
] %}
<div{{ attributes.addClass(classes) }}>
  {{ subscription_form }}
  <div class="social_icon">
    {% for network in  social_networks %}
      <a href="{{ network.link }}" title="{{ network.name }}"> {{ network.icon|raw }} </a>
    {% endfor %}
  </div>
</div>
